<!DOCTYPE html>
<html>

    <h1>Herbal Recipes</h1><br>
        <a href="/herbal_recipes/new">Add your own Recipes Here!</a>



        <% @herbal_recipes.each  do  |herbal_recipe| %>
        <a href="/herbal_recipes/<%= herbal_recipe.id %>"><h2><%= herbal_recipe.title %></h2></a>
        <p><%= herbal_recipe.herb %></p> 
        <a href="/herbal_recipes/<%= herbal_recipe.id %>/edit">EDIT</a>
    <% end %>
</html>
 