<!DOCTYPE html>
<html>
    <h1>Herbal Recipes</h1>


    <% @herbal_recipes.each  do  |herbal_recipe| %>
        <h2><a href="/herbal_recipes/<%= herbal_recipe.id%>" ></a><%= herbal_recipe.title %></h2>
        <p><%= herbal_recipe.instructions %></p>
    <% end %>
</html>
