<!DOC html>
<html>
 <h1>Login</h1> 
 <p><%=@error%></P>
    <form action="/login" method="post">
            <p>
                <label> User Name</label><br>
                <input type="text" name="username"><br>
            </p>
            <%# <p>
                <label>Email Address </label><br>
                <input type="email" name="email"><br>
            </p> %>
            <p>
                <label> Password</label><br>
                <input type="password" name="password"><br>
            </p>
            <p>
                <input type="submit" value=Login><br>
            </p>
            
    </form>
</html>


<%# <button type="submit">Submit</button> %>