<!DOCTYPE html>
<html>
    <h1> Welcome to Herbal Recipes for Healing!</h1>
    <h2> We have recipes for Tea's, tinture's, scrubs, for healing, and there all in one place!</h2>
    <h3> If you don't have an account, what are you waiting for? Create one Here.</h3>
    <h3> Log in to Find Recipes. Or add a Recipe to the Collection.</h3>
    <div>
        <div><a href="/account">Create an Account</a></div>
        <div><a href="/">Log in</a></div>
        <div><a href="/herbal_recipes">Herbal Recipes</a></div>
        <div><a href="/herbal_recipes/new">Add your own Recipes Here!</a></div>
    </div>
</html>

